WECOM_CORP_ID=your_corp_id
WECOM_TOKEN=your_token
WECOM_ENCODING_AES_KEY=your_encoding_aes_key
WECOM_AGENT_ID=your_agent_id
WECOM_CHAT_ARCHIVE_SECRET=your_chat_archive_secret
WECOM_CHAT_ARCHIVE_SAVE_DIR=archive_data
WECOM_SDK_LIB_PATH=./sdk/C_sdk