WECOM_CORP_ID=your_corp_id
WECOM_TOKEN=your_token
WECOM_ENCODING_AES_KEY=your_encoding_aes_key
WECOM_AGENT_ID=your_agent_id


# 会话内容存档SEC
WECOM_CORP_SECRET=your_corp_secret
WECOM_CHAT_ARCHIVE_SAVE_DIR=archive_data
WECOM_SDK_LIB_PATH=./sdk/C_sdk


# 通讯录同步SEC
WECOM_CONTACT_SECRET=your_contact_secret

# 创建群SEC （自定义 DEV 应用）
WECOM_APP_SECRET=xxx


# LLM API
OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=https://api.openai.com/v1


# LLM API

TEACHER_AGENT_ARCHIVE_DIR=archive_data/save
TEACHER_AGENT_VECTOR_DIR=archive_data/vector_db/teacher_assistant
TEACHER_AGENT_PROMPT_DIR=app/services/agent/prompt

# 构建向量索引时排除的群聊（用逗号分隔）
TEACHER_AGENT_EXCLUDE_ROOMIDS=wrgMDdBgAAWCrwwKs-hFrHosdwtfvvhA
TEACHER_AGENT_COLLECTION_NAME=teacher_assistant_dialogue_v1  #向量数据库集合名

TEACHER_AGENT_EMBEDDING_MODEL=text-embedding-3-small
TEACHER_AGENT_EMBEDDING_API_KEY=your_embedding_api_key
TEACHER_AGENT_EMBEDDING_BASE_URL=https://your-embedding-host/v1

TEACHER_AGENT_LLM_MODEL=gpt-4o-mini
TEACHER_AGENT_LLM_API_KEY=your_llm_api_key
TEACHER_AGENT_LLM_BASE_URL=https://your-llm-host/v1
TEACHER_AGENT_LLM_TEMPERATURE=0.4

TEACHER_AGENT_WINDOW_SIZE=6
TEACHER_AGENT_WINDOW_OVERLAP=2
TEACHER_AGENT_SAME_CHAT_TOP_K=4
TEACHER_AGENT_GLOBAL_TOP_K=3
TEACHER_AGENT_MIN_SAME_CHAT_HITS=2
TEACHER_AGENT_MAX_CONTEXT_CHUNKS=6
TEACHER_AGENT_DISTANCE_THRESHOLD=1.25

## 默认存在模型
TEACHER_AGENT_DEFAULT_MODELS=nvidia/nemotron-3-super-120b-a12b:KewoAI Plus,meituan/longcat-flash-lite:KewoAI Pro,healer-alpha:KewoAI Max
## 模型前端映射
TEACHER_AGENT_MODEL_ALIASES=gpt-4o-mini:GPT-4o-mini,gpt-4o:GPT-4o  # 前面是原始，后面是映射