WECOM_CORP_ID=your_corp_id
WECOM_TOKEN=your_token
WECOM_ENCODING_AES_KEY=your_encoding_aes_key
WECOM_AGENT_ID=your_agent_id


# 会话内容存档SEC
WECOM_CORP_SECRET=your_corp_secret
WECOM_CHAT_ARCHIVE_SAVE_DIR=archive_data
WECOM_SDK_LIB_PATH=./sdk/C_sdk


# 通讯录同步SEC
WECOM_CONTACT_SECRET=your_contact_secret

# 创建群SEC （自定义 DEV 应用）
WECOM_APP_SECRET=xxx