fastapi
uvicorn[standard]
pycryptodome
lxml
python-dotenv
xmltodict
typing-extensions
httpx
sqlalchemy
redis


# Agent
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-ollama
chromadb
zstandard==0.25.0